name: build
on:
  push:

defaults:
  run:
    shell: bash -euo pipefail -c "source nix.source && exec bash {0}"

jobs:
  linux:
    runs-on: digital-asset-dpm
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./.github/actions/nix
      - run: go build -o target/ ./cmd/...
      - run: go test -v ./...
      - name: Install go-junit-report
        run: go install github.com/jstemmer/go-junit-report/v2@latest
      - name: Run Go tests and generate JUnit report
        run: go test -v ./... | go-junit-report > report.xml
      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        with:
          name: Go Tests
          path: report.xml
          reporter: junit
      - uses: ./.github/actions/nsis
        with:
          bin-path: target/dpm

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: '1.23.5'
      - run: go build -o target/ ./cmd/...
        shell: bash
      - run: go test -v ./...
        shell: bash

  release-public:
    runs-on: digital-asset-dpm
    needs: 
      - windows
      - linux
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/release
        with:
          repo: da-images/public
          flags: "--clean --skip=announce,publish,validate"
          key: ${{ secrets.DA_IMAGES }}

  release-public-unstable:
    runs-on: digital-asset-dpm
    needs: 
      - windows
      - linux
    if: | 
      success() && (
        github.ref == 'refs/heads/main' ||
        startsWith(github.ref, 'refs/heads/release') ||
        startsWith(github.ref, 'refs/heads/adhoc')
      )
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./.github/actions/release
        with:
          repo: da-images/public-unstable
          flags: "--snapshot"
          key: ${{ secrets.DA_IMAGES }}

