name: build
on:
  push:

defaults:
  run:
    shell: bash -euo pipefail -c "source nix.source && exec bash {0}"

jobs:
  linux:
    runs-on: dach-ny-dpm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/nix
      - run: go build -o target/ ./cmd/...
      - run: go test -v ./...
      - uses: ./.github/actions/nsis
        with:
          bin-path: target/dpm

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.5'
      - run: go build -o target/ ./cmd/...
        shell: bash
      - run: go test -v ./...
        shell: bash

  release-public:
    runs-on: dach-ny-dpm
    needs: 
      - windows
      - linux
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/release
        with:
          repo: da-images/public
          flags: "--clean --skip=announce,publish,validate"
          key: ${{ secrets.DA_IMAGES }}

  release-public-unstable:
    runs-on: dach-ny-dpm
    needs: 
      - windows
      - linux
    if: | 
      success() && (
        github.ref == 'refs/heads/main' ||
        startsWith(github.ref, 'refs/heads/release') ||
        startsWith(github.ref, 'refs/heads/adhoc')
      )
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/release
        with:
          repo: da-images/public-unstable
          flags: "--snapshot"
          key: ${{ secrets.DA_IMAGES }}

